div.frame {
    width: 500px;
    height: 550px;
    margin: auto;
    background: rgb(0, 102, 160);
}

div.droid > div {
    position: relative;
    border: 10px solid #FFF;
    background-color: #62d01a;
}

div.droid > div.head {
    top: 20px;
    left: 135px;
    width: 220px;
    height: 100px;
    border-radius: 120px 120px 0px 0px / 120px 120px 0px 0px;
}

div.head > div.tentacle {
    position: relative;
    width: 5px;
    height: 52px;
    border-radius: 12px 12px 0px 0px / 52px 52px 0px 0px;
    border-top: 10px solid #FFF;
    border-right: 10px solid #FFF;
    border-left: 10px solid #FFF;
    background-color: #62d01a;
}

div.head > div.tentacle.left {
    top: -37px;
    left: 18px;
    transform: rotate(-33deg);
    -webkit-transform: rotate(-33deg);
}

div.head > div.tentacle.right {
    top: -98px;
    left: 178px;
    transform: rotateX(33deg);
    -webkit-transform: rotate(33deg);
}

div.head > div.eye {
    position: relative;
    top: -81px;
    left: 59px;
    width: 20px;
    height: 20px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 80px 0px #FFF;
}

div.droid > div.body {
    top: 10px;
    left: 135px;
    width: 220px;
    height: 200px;
    border-radius: 0px 0px 20px 20px / 0px 0px 20px 20px;
}

div.droid > div.arm {
    top: -210px;
    left: 85px;
    width: 40px;
    height: 150px;
    border-radius: 40px / 40px;
    -webkit-box-reflect: right 220px;
}

div.droid > div.leg {
    top: -170px;
    left: 168px;
    width: 50px;
    height: 91px;
    border-top-style: none;
    border-radius: 0px 0px 40px 40px / 0px 0px 40px 40px;
    -webkit-box-reflect: right 29px;
}
